/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
}:focus {
    outline: 0
}

ins {
    text-decoration: none
}

del {
    text-decoration: line-through
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

/* Typo */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #111;
}

h1 {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}

h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}

h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

h6 {
    font-size: 1em;
    font-weight: bold;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0;
}

p {
    margin: 0 0 1em;
}

p img.left {
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}

p img.right {
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
}

a:focus, a:hover {
    color: #000;
}

a {
    color: #414f5b;
    text-decoration: none;
}

blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic;
}

strong {
    font-weight: bold;
}

em, dfn {
    font-style: italic;
}

dfn {
    font-weight: bold;
}

sup, sub {
    line-height: 0;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
}

address {
    margin: 0 0 1.5em;
    font-style: italic;
}

del {
    color: #666;
}

pre {
    margin: 1.5em 0;
    white-space: pre;
}

pre, code, tt {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height: 1.5;
}

li ul, li ol {
    margin: 0 1.5em;
}

ul, ol {
    margin: 0 1.5em 1.5em 1.5em;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

dl {
    margin: 0 0 1.5em 0;
}

dl dt {
    font-weight: bold;
}

dd {
    margin-left: 1.5em;
}

table {
    margin-bottom: 1.4em;
    width: 100%;
}

th {
    font-weight: bold;
}

thead th {
    background: #c3d9ff;
}

th, td, caption {
    padding: 4px 10px 4px 5px;
}

tr.even td {
    background: #e5ecf9;
}

tfoot {
    font-style: italic;
}

caption {
    background: #eee;
}

a {
    color: #0943ae;
    text-decoration: underline;
}

body {
    background:#333333;
    color: #333;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: auto
}

html {
    height: 100%;
}

img {
    border: 0
}

input[ type =
"radio"], input[ type = "checkbox"] {
    vertical-align: middle
}

textarea {
    font: normal normal 400 10pt / normal Arial, sans-serif
}
select {
	text-transform:none;
	border:1px solid #CCCCCC;
	padding:1px;
}
.add_icon {
    background: url('../images/icons/add.png') no-repeat left center;
    padding-left: 18px;
	line-height:18px;
	display:inline-block
}

.clear {
    clear: both;
}

.default_icon {
    background: url('../images/icons/default.png') no-repeat left center;
    padding-left: 18px;
	line-height:18px;
	display:inline-block
}

.delete_icon {
    background: url('../images/icons/delete.png') no-repeat left center;
    padding-left: 18px;
	line-height:18px;
	display:inline-block
}

.edit_icon {
    background: url('../images/icons/edit.png') no-repeat left center;
    padding-left: 18px;
	line-height:18px;
	display:inline-block;
}

.search_icon {
    background: url('../images/icons/search.png') no-repeat left center;
    padding-left: 18px
}
.stat1 div.center {
    background: url('../images/stat1.png') repeat-x left -14px;
    float: left;
    font: normal 11px / 14px Arial;
    height: 14px;
    line-height: 14px;
    position: relative
}

.stat1 div.left {
    background: url('../images/stat1.png') no-repeat left top;
    float: left;
    font: normal 11px / 14px Arial;
    height: 14px;
    line-height: 14px;
    position: relative;
    width: 3px
}

.stat1 div.right {
    background: url('../images/stat1.png') no-repeat right -28px;
    float: left;
    font: normal 11px / 14px Arial;
    height: 14px;
    line-height: 14px;
    position: relative;
    width: 3px
}

.stat1 div.text, .stat2 div.text {
    float: left;
    font: normal 11px / 14px Arial;
    height: 14px;
    line-height: 14px;
    padding-left: 5px;
    position: relative
}

.stat2 div.center {
    background: url('../images/stat2.png') repeat-x left -14px;
    float: left;
    font: normal 11px / 14px Arial;
    height: 14px;
    line-height: 14px;
    position: relative
}

.stat2 div.left {
    background: url('../images/stat2.png') no-repeat left top;
    float: left;
    font: normal 11px / 14px Arial;
    height: 14px;
    line-height: 14px;
    position: relative;
    width: 3px
}

.stat2 div.right {
    background: url('../images/stat2.png') no-repeat right -28px;
    float: left;
    font: normal 11px / 14px Arial;
    height: 14px;
    line-height: 14px;
    position: relative;
    width: 3px
}

a.button1 {
    background: url('../images/button_bg.gif') no-repeat right top;
    color: #333;
    cursor: pointer;
    display: block;
    float: left;
    font: normal 11px / 20px Arial, Verdana, sans-serif;
    height: 20px;
    line-height: 20px;
    margin-left: 2px;
    padding-right: 10px;
    text-decoration: none;
    text-align: center;
}

a.button1 span {
    background: url('../images/button_bg.gif') no-repeat left -20px;
    cursor: pointer;
    display: block;
    font: normal 11px / 20px Arial, Verdana, sans-serif;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    text-decoration: none;
    float: left;
}

a.button1 span span {
    background: url('../images/button_bg.gif') repeat-x left -40px;
    cursor: pointer;
    display: block;
    font: normal 11px / 20px Arial, Verdana, sans-serif;
    height: 20px;
    line-height: 20px;
    padding-left: 0px;
    text-decoration: none;
    float: left;
}

a.button2 {
    background: url('../images/button_bg.gif') no-repeat right -120px;
    color: #333;
    cursor: pointer;
    display: block;
    float: left;
    font: normal 11px / 20px Arial, Verdana, sans-serif;
    height: 20px;
    line-height: 20px;
    margin-left: 2px;
    outline: none;
    padding-right: 10px;
    text-decoration: none;
    text-align: center;
}

a.button2 span {
    background: url('../images/button_bg.gif') no-repeat left -140px;
    cursor: pointer;
    display: block;
    font: normal 11px / 20px Arial, Verdana, sans-serif;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    text-decoration: none;
    float: left;
}

a.button2 span span {
    background: url('../images/button_bg.gif') repeat-x left -160px;
    cursor: pointer;
    display: block;
    font: normal 11px / 20px Arial, Verdana, sans-serif;
    height: 20px;
    line-height: 20px;
    padding-left: 0px;
    text-decoration: none;
    float: left;
}

div.generate_page {
    color: #333;
    font: 12px Arial, Helvetica, sans-serif;
    margin-top: 5px;
    padding: 5px;
    text-align: right
}

div.quote {
    background: #F0F0F0;
    border-bottom: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
    float: left;
    margin: 10px 0px 10px 0px;
    padding: 4px 10px 4px 10px;
    position: relative
}

div.quote blockquote {
    background: #F0F0F0 url('../images/top-quote.gif') no-repeat left top;
    color: #333;
    font: 12px Arial, Helvetica, sans-serif;
    margin: 2px;
    padding: 3px;
    text-indent: 23px;
}

div.quote blockquote span {
    background: transparent url('../images/bottom-quote.gif') no-repeat bottom right;
    display: inline-block;
    width: 97%;
}

table.tab1 {
    background: #FFF;
    border: 1px solid #DADADA;
    border-collapse: separate;
    border-spacing: 1px;
    caption-side: top;
    empty-cells: show;
    margin-top: 8px;
    width: 100%
}

table.tab1 caption {
    background:#B7CED2 url('../images/newspaper_go.png') 5px 8px  no-repeat;
    font: bold 13px / 27px Arial, Verdana, sans-serif;
    text-align: left;
    text-indent: 18px;
	margin-bottom:1px
}

table.tab1 tbody {
    background: #F7F7F7
}

table.tab1 tbody.second {
    background: #EEE
}

table.tab1 td a, table.tab1 th a {
    color: #333
}

table.tab1 td, table.tab1 th {
    padding: 5px;
	text-decoration:none
}

table.tab1 tfoot {
    background:#EAF4F4;
    font: bold 11px Arial, Verdana, sans-serif
}

table.tab1 th {
    background: #CCC;
    font-weight: normal;
    text-align: left
}
table.tab1 td {
    font-size: 12px !important
}

table.tab1 thead {
    background:#D8E0E2;
    font: bold 11px / 18px Arial, Verdana, sans-serif;
    white-space: nowrap;
}
table.tab1 thead td,table.tab1 tfoot td{
	padding:5px;
}

#div_hide {
    font: normal 11px Arial, Verdana, sans-serif;
    padding: 5px 5px 5px 5px
}

#div_hide ul {
    margin-left: 10px;
    margin-right: 10px
}

#footer {
    border-top: 3px solid #3490C1;
    margin: 2px 0px 2px 0px;
	background:#333333;
	color:#FFFFFF;
}
#footer a {
	color:#FFFF00;
	text-decoration:none
}
#footer div.copyright {
    color: #FFFFFF;
    font: normal 11px Arial;
    margin: 7px 10px 7px 10px;
    padding: 0;
    float: left;
}

#footer div.imgstat {
    margin: 13px 10px 5px 0px;
    padding: 0;
    text-align: right;
    width: 500px;
    float: right
}

#header {
    background:#1B3434;
    height: 55px;
    position: relative;
	color:#FFFFFF;
}

#header div.lang {
    display: inline;
    text-align: center;
    float: right;
    padding: 12px 5px;
    color: #FFFFFF;
}

#header div.lang select {
    border: 1px solid #5B5B5B;
    padding: 2px;
    background: #FFFFFF;
}

#header div.logo {
    display: inline;
    height: 50px;
    padding: 0 0 0 10px;
    position: absolute;
    width: 350px;
    height: 50px;
    top: 0;
    left: 0;
}

#header div.logout {
    height: 27px;
    float: right;
    padding: 10px;
    text-align: right;
}

#middle_column_l {
    color: #333;
    padding: 0;
}

#middle_column_r {
    color: #333;
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid #C9DED5
}

#middle_column_r div.info {
    background: #FCFCFC;
    border-bottom: 1px gray solid;
    border-bottom-style: dotted;
    font: bold 11px / 22px Arial, Verdana, sans-serif;
    height: 24px;
    line-height: 22px
}

#middle_column_r div.info div.go {
    float: right;
    text-align: right;
    width: 200px
}

div.info_tab {
    font: bold 11px / 22px Arial, Verdana, sans-serif;
    height: 30px;
    line-height: 30px;
    padding-right: 10px;
	background:#B7CED2;
	padding-left:8px;
}

div.info_tab .cell_right {
    float: right;
    display: inline-block;
    line-height: 30px;
    padding-top: 4px;
}

div.info_tab .cell_left {
    font-size: 12px;
    color:#000000;
    display: inline-block;
    font-weight: bold;
    line-height: 30px;
	text-transform:uppercase;
	background:url(../images/newspaper_add.png) no-repeat center left;
	padding-left:20px
}

#middle_outer {
    margin: 0px 0px 0px 0px
}

#outer {
    background: #fff;
    margin: 0 auto;
    padding: 0;
}

#top_message {
	background:url(../images/bg_menu.png) repeat-x;
    height: 26px;
	border-bottom:#E0E0E0 1px solid;
	border-top:#CCC 1px solid;
	margin-bottom:2px;
}

.clock {
    background: none repeat scroll 0 0 #EEEEEE;
    padding: 5px;
}

.clock label {
    display: inline-block;
    font: bold 11px Arial, Verdana, sans-serif;
    padding: 0 0 0 10px;
}

#top_message div.clock label span {
    display: inline-block;
    font: bold 11px / 27px Arial, Verdana, sans-serif;
    height: 26px;
    line-height: 26px;
    padding: 0 10px 0 0;
}

.clock_container {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #F2F9F9;
    font-weight: bold;
    padding: 2px;
}

#top_message div.info {
    float: left;
    font: normal 11px / 27px Arial, Verdana, sans-serif;
    line-height: 26px;
    margin-left: 5px;
}

#ver_menu {
    padding-bottom: 6px;
    text-indent: 6px;
	padding:2px;
	border: 1px solid #F2F9F9;
	background:#FFFFFF;
}

#ver_menu a {
    background: #DDE3EC;
    color: #333;
    display: block;
    line-height: 24px;
    text-decoration: none;
    margin-bottom: 1px;
	border-right:none;
    font-weight: bold;
}

#ver_menu a.current {
    background:#86ACB5;
    color: #333
}

#ver_menu a.sub_current {
    color: #cb0000;
    text-indent: 15px;
    text-align: right;
	background:#FBFBFC;
	text-align:left;
}

#ver_menu a.sub_normal {
    color: #333;
    text-indent: 15px;
    font-weight: normal;
	background:#FFF8F0;
}

#ver_menu a.sub_normal:hover {
    color: #993300;
}

#ver_menu a.current:hover {
    color: #0943ae
}

#ver_menu a.sub_current:hover, #ver_menu a.sub_normal:hover {
    color: #cb0000;
}

#ver_menu a:hover {
    color: #cb0000;
    background: #F5F5F5
}

div.quote blockquote.error, #middle_column_r div.info span {
    color: #cb0000
}

span.row, sup.required {
    color: #F00
}

#middle_column_r div.info a, #middle_column_r div.info div.go a:hover, table.tab1 td a:hover, table.tab1 th a:hover {
    color: #cb0000;
    text-decoration: none
}

#middle_column_r div.info div.go a, #middle_column_r div.info a:hover {
    color: #333;
    text-decoration: none
}

a.button1:hover {
    background: url('../images/button_bg.gif') no-repeat right -60px;
    color: #000;
    cursor: pointer
}

a.button1:hover span {
    background: url('../images/button_bg.gif') no-repeat left -80px;
    color: #000;
    cursor: pointer
}

a.button1:hover span span {
    background: url('../images/button_bg.gif') repeat-x left -100px;
    color: #000;
    cursor: pointer
}

a.button2:hover {
    background: url('../images/button_bg.gif') no-repeat right top;
    color: #000;
    cursor: pointer
}

a.button2:hover span {
    background: url('../images/button_bg.gif') no-repeat left -20px;
    color: #000;
    cursor: pointer
}

a.button2:hover span span {
    background: url('../images/button_bg.gif') repeat-x left -40px;
    color: #000;
    cursor: pointer
}

table.tab1 tbody.third, table.tab1 tbody.third:hover {
    background: #CCC
}

table.tab1 tbody:hover, table.tab1 tbody.second:hover {
    background: #E4E4E4
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}

.tab2 td, .tab2 tr, .tab2 tbody {
    margin: 0;
    padding: 0;
}

.message_head {
    margin: 0;
}

.table_full {
    padding: 0;
    margin: 0;
}

.table_full td {
    padding: 0;
    margin: 0;
}

.colum_left_lage {
    background: #FBFBFC url(../images/bg_left.png) right repeat-y;
    width: 20px
}

.colum_left_small {
    background: url(../images/bg_left.png) right repeat-y;
    width: 20px;
}

.divclose {
    background:#FBFBFC;
    line-height: 18px;
    padding: 0px 2px;
    border: 1px solid #FBFBFC;
    margin-bottom: 1px;
}

.small {
    background: url(../images/small.png) no-repeat center right;
    height: 100%;
    display: block;
    cursor: pointer;
	padding-left:2px;
	font-weight:bold;
}

.lage {
    background: url(../images/lage.png) no-repeat center;
    height: 20px;
    display: block;
    cursor: pointer;
    width: 20px;
}

.bthome {
    background:#73B9B9;
    border: 1px solid #408080;
    line-height: 24px;
    padding: 0px 10px;
    display: inline-block;
    color:#000000;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
}

.bthome:hover {
    background:#2E5C5C;
    color: #FFFFFF;
}

.iconhome {
    background: url(../images/home.png) no-repeat center left;
    display: inline-block;
    height: 100%;
    padding-left: 20px;
}

.iconexit {
    background: url(../images/exit.png) no-repeat center left;
    display: inline-block;
    height: 100%;
    padding-left: 20px;
}
.btaction {
	background:url(../images/bg_button.png) repeat-x;
	height:22px;
	border:1px solid #6FB7FF;
	font-size:12px;
	font-family:Arial;
	padding:0px 4px;
	cursor:pointer;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
}
.btaction:hover {
	border:1px solid #3399FF;
}
.lang {
    background: url("../images/lang.png") no-repeat scroll 20px 0 transparent;
    color: #333333;
    float: right;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 10px;
}